* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.alert {
    margin-top: 56px;
}


/* footer section */

.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.social-media {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 50%;
    margin: auto;
    margin-bottom: 10px;
}

.bi {
    color: #000;
    font-size: 30px;
}

.bi:hover {
    color: green;
}